@import '@common/variables.less';

.sider {
    a {
        max-width: 250px;
        width: 100%;
    }

    .sider-button {
        box-shadow: @box-shadow;
        background: @background-component;
        border: @border;
        border-radius: @border-radius;
        padding: 15px 15px;
        max-width: 250px;
        font-size: 20px;
        line-height: 20px;
        width: 100%;
        color: #000;
        user-select: none;
        text-align: left;

        .icon {
            margin-right: 20px;
        }
    }

    .button-on {
        box-shadow: @box-shadow;
        background: @active-bg;
        color: @active-font;
    }
}