.widget {
  padding: 20px 25px;
  border: 1px solid #D6D6D6;
  border-radius: 5px;
  height: 100%;

  &-title {
     font-size: 20px;
     line-height: 20px;
     padding-bottom: 25px;
  }

  &-text {
    font-size: 40px;
    line-height: 40px;
  }
}