@import '@common/variables.less';

.incomes {
    overflow: auto;
    padding: 30px 25px;
    width: 100%;

    .tables {
        max-width: 100%;
    }

    .calendar {
        max-width: 600px;
        width: 100%;
        margin-bottom: 15px;
        background: @background-component;
        box-shadow: @box-shadow;
        border-radius: @border-radius;
        border: @border;

        .ant-picker-body {
            background: @background-component !important;
            border-end-end-radius: @border-radius;
            border-end-start-radius: @border-radius;
        }
    }


    .title {
        margin-bottom: 70px;

        &-text {
            font-family: 'RobotoBold';
            font-size: 48px;
            margin-right: 20px;
        }
    }
}