.sider-button {
    background-color: transparent;
    border: 1px solid #6883AE;
    border-radius: 30px;
    padding: 22px 0;
    max-width: 250px;
    font-size: 20px;
    line-height: 20px;
    width: 100%;
}

.button-on {
    background-color: #6883AE;
    color: #FFFFFF;
}