.ant-table-thead {
    .ant-table-cell {
        background-color: #fff !important;
        font-family: 'RobotoBold';
        text-align: center !important;
        padding: 5px auto !important;
    }
}